<section id="contact" class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/2 w-full lg:mb-0 mb-6 p-4 mx-auto">
        <div class="h-full text-center">
          <h2 class="title font-bold text-gray-900 text-4xl mb-4">Book a Consultation</h2>
          <p class="leading-relaxed">123 Anywhere St. Any City, ST 12345</p>
          <p class="leading-relaxed">Call: +123-456-7980<br>Email: hello@reallygreatsite.com</p>
        </div>
      </div>

      <!-- Segundo bloque a la derecha -->
      <div class="lg:w-1/2 w-full lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <div>
            <h2 class="text-2xl font-bold text-gray-900 mb-4">Visit Us</h2>
            <p class="leading-relaxed">123 Anywhere St. Any City, ST 12345</p>
          </div>
          <div class="mt-6">
            <h2 class="text-2xl font-bold text-gray-900 mb-4">Contact Details</h2>
            <p>Call: +123-456-7980</p>
            <p>Email: hello@reallygreatsite.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
