

@font-face {
    font-family: 'RocaOne';
    src: url('../src/assets/fonts/RocaOne-Th.ttf') format('truetype');
  }
  @font-face {
    font-family: 'RocaOneBold';
    src: url('../src/assets/fonts/RocaOne-Bold.ttf') format('truetype');
}

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,600&display=swap');

@import '~boxicons/css/boxicons.min.css';

  body{
    margin: 0;
    overflow-x: hidden;

  }
  